body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.table-container {
  display: flex;
  justify-content: space-between;
}

.table {
  border-collapse: collapse;
  width: 200px;
}

.table-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table td:not(:last-child) {
  border-right: 1px solid #ddd;
}

.table-id,
.table-data-transfer {
  width: 200px; /* Defina a largura desejada */
}